@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212529;
  font-family: "Outfit", sans-serif;
  color: white;
  text-align: center;
}

form {
  padding-top: 2rem;
}

#weather-display {
  padding: 2rem;
}

#weather-container {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 15px;
  padding: 1rem;
  background-color: #343a40;
  align-items: center;
}

#temperature-selection {
  margin-top: 1rem;
}

button {
  background-color: #495057;
  color: inherit;
  border-style: none;
  cursor: pointer;
  height: 2rem;
}

input {
  height: 1.6rem;
}

button:hover {
  background-color: #6c757d;
}

.checkbox {
  vertical-align: middle;
}

h3 {
  margin: 0.4rem;
}

h2 {
  margin: 0;
}

img {
  width: 8rem;
}

header {
  border-bottom-style: solid;
}

.spin {
  margin-top: 10rem;
  width: 20px;
  height: 20px;
  border: 14px solid #adb5bd;
  border-top: 14px solid #495057;
  border-radius: 50%;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
